.chat-bg {
    padding: 10px;
    border-radius: 5px;
    background-color: #191919;
}

#player-chat .my-4 {
    border-color: #eee;
}

.message-container {
    padding: 5px;
    padding-top: 15px;
    border-radius: 5px;
    background-color: teal;
    margin: 5%;
    width: 50%;
    text-align: left;
}

.message-container:nth-child(even){
    background-color:#eee;
    color: #191919;
    text-align: right;
    margin-left: 300px;
}

.message-user, .message-content, .message-timestamp {
   
}

.message-timestamp {
    font-size: .8em;
    color:#999;
}