.App {
  text-align: center;
}

/* body {
  background-color: #393939;
  color: #eee;
}

.button {
  background-color: #009598;
  color: #eee;
} */

.drop-shadow {
  /* -webkit-box-shadow: 13px 19px 10px 0px rgba(26, 26, 26, 1);
  -moz-box-shadow: 13px 19px 10px 0px rgba(26, 26, 26, 1);
  box-shadow: 13px 19px 10px 0px rgba(26, 26, 26, 1); */
}
