.App {
  text-align: center;
}

body {
  margin-top: 6%;
  font-family: Roboto, sans-serif;
  /* background-color: #393939;
  color: #eee; */
}

.jumbotron {
  /* background-color: #1ea2a2; */
}

.button {
  background-color: #167575;
  color: #eee;
}

.drop-shadow {
  /* -webkit-box-shadow: 13px 19px 10px 0px rgba(26, 26, 26, 1);
  -moz-box-shadow: 13px 19px 10px 0px rgba(26, 26, 26, 1);
  box-shadow: 13px 19px 10px 0px rgba(26, 26, 26, 1); */
}
