.background {
  margin: 0;
  padding-top: 5%;
  padding-bottom: 5%;
  /* border-bottom: 1px solid #eee; */
}

.username {
  margin-left: -15px;
}

.card {
  /* background: #009598; */
  padding: 10px;
  /* border: none; */
  color: #eee;
}

a {
  transition: 500ms ease all;

  /* color: #eee; */
}

a:hover {
  /* color: #eee; */
  text-decoration: none;
}
